__pycache__/
*.pyc
models/*.pkl
.DS_Store
.venv/
gpt-repsonse.md
Guidelines and Instructions_Mini Project Assignment.pdf
Jimmy Du, Rolland He, Zhivko Zhechev, Forecasting Bike Rental Demand.pdf
WORK_LOG_DETAILED.md
